
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("~/Views/Shared/Partials/_background.cshtml")
<section class="ftco-section ftco-no-pt ftco-no-pb">
    <div class="container">
        @Html.Partial("~/Views/Shared/Partials/_services.cshtml")
    </div>
</section>

<section class="ftco-section ftco-no-pb ftco-no-pt bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-5 p-md-5 img img-2 d-flex justify-content-center align-items-center" style="background-image: url('@Url.Content("~/Assets/Images/Background/about.jpg")');">
                <a href="https://www.youtube.com/watch?v=mRApZVPSsps" class="icon popup-vimeo d-flex justify-content-center align-items-center">
                    <span class="icon-play"></span>
                </a>
            </div>
            <div class="col-md-7 py-md-5 wrap-about pb-md-5 ftco-animate">
                <div class="heading-section-bold mb-4 mt-md-5">
                    <div class="ml-md-0">
                        <h2 class="mb-4"><strong>Hệ thống cửa hàng</strong></h2>
                    </div>
                </div>
                <div class="pb-md-5 pb-4">
                    <p>
                        39-43 Trần Quang Khải,P. Tân Định, Quận 1, TP.HCM
                        <br />179 Khánh Hội,Phường 3, Quận 4, TP.HCM
                        <br />488 Lê Hồng Phong, Phường 5, Quận 10, TP.HCM
                        <br />123 Vườn Lài,P.An Phú Đông, Quận 12, TP.HCM
                    </p>
                    <p><a href="@Url.Action("Index", "Shop")" class="btn btn-primary">Shop now</a></p>
                </div>
            </div>
        </div>
    </div>
</section>

@Html.Partial("~/Views/Shared/Partials/_feedback.cshtml")
@Html.Partial("~/Views/Shared/Partials/_followus.cshtml")

