<section class="ftco-section testimony-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="services-flow">
                    <div class="services-2 p-4 d-flex ftco-animate">
                        <div class="icon">
                            <span class="flaticon-bag"></span>
                        </div>
                        <div class="text">
                            <h3>Miễn phí vận chuyển</h3>
                            <p class="mb-0">Mua sắm và tiết kiệm với dịch vụ miễn phí vận chuyển của chúng tôi.</p>
                        </div>
                    </div>
                    <div class="services-2 p-4 d-flex ftco-animate">
                        <div class="icon">
                            <span class="flaticon-heart-box"></span>
                        </div>
                        <div class="text">
                            <h3>Quà tặng có giá trị</h3>
                            <p class="mb-0">Tạo niềm vui và ấn tượng với quà tặng đáng giá</p>
                        </div>
                    </div>
                    <div class="services-2 p-4 d-flex ftco-animate">
                        <div class="icon">
                            <span class="flaticon-payment-security"></span>
                        </div>
                        <div class="text">
                            <h3>Thanh toán an toàn</h3>
                            <p class="mb-0">An tâm mua sắm với phương thức thanh toán bảo mật</p>
                        </div>
                    </div>
                    <div class="services-2 p-4 d-flex ftco-animate">
                        <div class="icon">
                            <span class="flaticon-customer-service"></span>
                        </div>
                        <div class="text">
                            <h3>Hỗ trợ 24/7</h3>
                            <p class="mb-0">Hỗ trợ khách hàng nhanh chóng và hiệu quả</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="heading-section ftco-animate mb-5">
                    <h2 class="mb-4">Đánh giá</h2>
                    <p>Một vài trải nghiệm thú vị của khách hàng!</p>
                </div>
                <div class="carousel-testimony owl-carousel">
                    <div class="item">
                        <div class="testimony-wrap">
                            <div class="user-img mb-4" style="background-image: url('@Url.Content("~/Assets/Images/Person/person_1.jpg")')">
                                <span class="quote d-flex align-items-center justify-content-center">
                                    <i class="icon-quote-left"></i>
                                </span>
                            </div>
                            <div class="text">
                                <p class="mb-4 pl-4 line">Hàng chuẩn chất lượng tốt, công nghệ mới tuyệt quá.</p>
                                <p class="name">Thanh Huyền</p>
                                <span class="position">Đã mua tại Superstar</span>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimony-wrap">
                            <div class="user-img mb-4" style="background-image: url('@Url.Content("~/Assets/Images/Person/person_2.jpg")')">
                                <span class="quote d-flex align-items-center justify-content-center">
                                    <i class="icon-quote-left"></i>
                                </span>
                            </div>
                            <div class="text">
                                <p class="mb-4 pl-4 line">Mua điện thoại trực tuyến tại website này rất thuận tiện và dễ dàng. Sản phẩm chất lượng và giá cả phải chăng.</p>
                                <p class="name">Trần Anh Phú</p>
                                <span class="position">Đã mua tại Superstar</span>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimony-wrap">
                            <div class="user-img mb-4" style="background-image: url('@Url.Content("~/Assets/Images/Person/person_3.jpg")')">
                                <span class="quote d-flex align-items-center justify-content-center">
                                    <i class="icon-quote-left"></i>
                                </span>
                            </div>
                            <div class="text">
                                <p class="mb-4 pl-4 line">quá tuyệt vời, hình ảnh sắc nét</p>
                                <p class="name">Nguyễn Hoàng Phúc</p>
                                <span class="position">Đã mua tại Superstar</span>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimony-wrap">
                            <div class="user-img mb-4" style="background-image: url('@Url.Content("~/Assets/Images/Person/person_4.jpg")')">
                                <span class="quote d-flex align-items-center justify-content-center">
                                    <i class="icon-quote-left"></i>
                                </span>
                            </div>
                            <div class="text">
                                <p class="mb-4 pl-4 line">Shop tư vấn điện thoại rất nhiệt tình tui sẽ giới thiệu cho bạn bè, người thân</p>
                                <p class="name">Trần Tha Tùng</p>
                                <span class="position">Đã mua tại Superstar</span>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimony-wrap">
                            <div class="user-img mb-4" style="background-image: url('@Url.Content("~/Assets/Images/Person/person_5.jpg")')">
                                <span class="quote d-flex align-items-center justify-content-center">
                                    <i class="icon-quote-left"></i>
                                </span>
                            </div>
                            <div class="text">
                                <p class="mb-4 pl-4 line">Dở tệ,máy thì lướt có 30p mà báo quá nhiệt tắt khởi động lại thì 15p cũng ko thấy lên nguồn.Cứ vậy miết chứ ko phải lâu lâu mới bị nữa,còn thêm sạc thì lâu nhưng được cái shop hỗ trợ rất nhiệt tình</p>
                                <p class="name">Trần Minh Hiếu</p>
                                <span class="position">Đã mua tại Superstar/span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>